body {
    max-width: 210mm;
    margin: auto;
    background-color: #404040;
    font-family: Lato, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    color: #ffabab;
    }

p {
    color: #ffffff;
}
