body {
    margin-left: 200px;
    margin-right: 200px;
    background-color: #404040;
    font-family: Lato
}

h1, h2, h3, h4, h5, h6 {
    color: #ffabab;
    }

p {
    color: #ffffff;
}
